---
http_interactions:
- request:
    method: post
    uri: http://muovi.roma.it/ws/xml/autenticazione/1
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" ?><methodCall><methodName>autenticazione.Accedi</methodName><params><param><value><string></string></value></param><param><value><string></string></value></param></params></methodCall>
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      Content-Language:
      - it
    body:
      encoding: UTF-8
      string: |
        <?xml version='1.0'?>
        <methodResponse>
        <params>
        <param>
        <value><string>bjcxbeg5f2xe4gdzyemhobhhj485iz8l</string></value>
        </param>
        </params>
        </methodResponse>
  recorded_at: Sat, 18 Oct 2014 17:13:06 GMT
recorded_with: VCR 2.9.3
