---
http_interactions:
- request:
    method: post
    uri: http://muovi.roma.it/ws/xml/percorso/2
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" ?><methodCall><methodName>percorso.Cerca</methodName><params><param><value><string>bjcxbeg5f2xe4gdzyemhobhhj485iz8l</string></value></param><param><value><string>Via Cavour, 6</string></value></param><param><value><string>Via dei Prati dei Papa, 41</string></value></param><param><value><struct><member><name>mezzo</name><value><i4>1</i4></value></member><member><name>piedi</name><value><i4>1</i4></value></member><member><name>bus</name><value><boolean>1</boolean></value></member><member><name>metro</name><value><boolean>1</boolean></value></member><member><name>ferro</name><value><boolean>1</boolean></value></member><member><name>carpooling</name><value><boolean>0</boolean></value></member><member><name>max_distanza_bici</name><value><i4>1000</i4></value></member><member><name>when</name><value><i4>2</i4></value></member></struct></value></param><param><value><string>2014-10-20 12:00:00</string></value></param><param><value><string>en</string></value></param></params></methodCall>
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: |
        <?xml version='1.0'?>
        <methodResponse>
        <params>
        <param>
        <value><struct>
        <member>
        <name>indicazioni</name>
        <value><array><data>
        <value><struct>
        <member>
        <name>nodo</name>
        <value><struct>
        <member>
        <name>numero</name>
        <value><int>0</int></value>
        </member>
        <member>
        <name>t</name>
        <value><string>12:00 PM</string></value>
        </member>
        <member>
        <name>tipo</name>
        <value><string>I</string></value>
        </member>
        <member>
        <name>nome</name>
        <value><string>Via Cavour 6</string></value>
        </member>
        <member>
        <name>url</name>
        <value><string></string></value>
        </member>
        <member>
        <name>info_exp</name>
        <value><string></string></value>
        </member>
        <member>
        <name>id</name>
        <value><string></string></value>
        </member>
        <member>
        <name>icona</name>
        <value><string>nodo.png</string></value>
        </member>
        <member>
        <name>punto</name>
        <value><struct>
        <member>
        <name>y</name>
        <value><string>41.900547</string></value>
        </member>
        <member>
        <name>x</name>
        <value><string>12.499516</string></value>
        </member>
        </struct></value>
        </member>
        </struct></value>
        </member>
        </struct></value>
        <value><struct>
        <member>
        <name>tratto</name>
        <value><struct>
        <member>
        <name>mezzo</name>
        <value><string>P</string></value>
        </member>
        <member>
        <name>dist</name>
        <value><double>88.43404364494066</double></value>
        </member>
        <member>
        <name>id_linea</name>
        <value><string></string></value>
        </member>
        <member>
        <name>dest</name>
        <value><string></string></value>
        </member>
        <member>
        <name>tipo_attesa</name>
        <value><string></string></value>
        </member>
        <member>
        <name>bounding_box</name>
        <value><array><data>
        <value><array><data>
        <value><doubl[...]
